framework/FactorialSOAP/src/conf/xml-resources/web-service-references/FactorialService/wsdl/localhost_8080/FactorialService/FactorialService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="factorial" type="tns:factorial"/>

<xs:element name="factorialResponse" type="tns:factorialResponse"/>

<xs:complexType name="factorial">
<xs:sequence>
<xs:element name="nro" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factorialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>